---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Supervised Students
======

### current students
* Marat Seroglazov
* Sanjeev Kumar

### finished students
[Iro Laina](http://campar.in.tum.de/Main/IroLaina), Sergey Zakharov, Henry Martin, [Felix Grün](http://campar.in.tum.de/Main/FelixGruen), Christoph Kick, Adam Kosiorek, Ansh Kapil, Nan Yang, Elizabeth Huaroc, Bharti Munjal, Nan Liu, Ignacio Sarasúa, Udo Dehm, Dominik Drexler
This list is sorted by starting date.
